/*Global settings*/
body {
	background-color:white;
	margin: 0;
	padding: 0;
}
.content_wrap{
    width: 1002px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

.content_wrap_wide{
    width: 1500px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}
.content_wrap_wider{
    width: 2000px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

.content_view{
/* this is for the file note content*/
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 1.0em;
	color:black;
}
.content_view h1{
	font-size: 3.5em;
	font-weight: bold;
	margin-top: 2.0em;
	margin-bottom:1.0em;
}
.content_view h2{
	font-size: 2.5em;
	font-weight:bold;
	margin-top: 1.5em;
	margin-bottom:1.0em;
}
.content_view h3{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1.0em;
	margin-bottom:0.5em;
}
.content_view h4{
	margin-top:1.0em;
	font-size: 1.2em;
	font-weight: bold;
}

/* table{width: 1000px; margin: auto;}
tr.tab_header td{border-bottom: 1px solid #777777; background-color: #dddddd}
tr.tab_line td{border-bottom:1px solid #777777;background-color:#efefef} */

.top_bar {
	background-color: #333;
	height: 20px;
	padding-top: 5px
}

ul.top_bar_left {
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	float: left;
	margin: 0px;
	list-style-type: none;
	width: 450px;
}


ul.top_bar_left li{
	display: inline;
	width: 60px;
	text-align: center;
	float: left;
}

ul.top_bar_left li a,ul.top_bar_left li a:visited,ul.top_bar_left li a:link{
	color:#FFF;
	text-decoration:none;
}
ul.top_bar_left li a:hover{
	color:#E00;
	text-decoration:none;
}

ul.top_bar_left li a.active{
	color:#00BB77;
}

ul.top_bar_right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	float: right;
	margin-right: 20px;
    margin-top: 0px;	
    list-style-type: none;
	width: 380px;
}

ul.top_bar_right li{
	display: inline;
	width: 60px;
	text-align: center;
	float: right;
}

ul.top_bar_right li a,ul.top_bar_right li a:link,ul.top_bar_right li a:visited{
	color:#FFF;
	text-decoration:none;

}
ul.top_bar_right li a:hover{
	color:#E00;
	text-decoration:none;

}

.folder_containner{
	width: auto;
    margin: auto;
    font-size: 14px;
    clear:both
}

ul.folder_list{
    width:auto;
    clear: both;
    margin: auto;
    padding:0
}

ul.folder_list li{
	font-size: 14px;
    display: inline;
	width: 242px;
    text-align: center;
    border: 1px solid #777777;
	margin: 2px;
	border-radius:3px;
    background-color: #efefef;
    height: 30px;
    margin:3px;
    padding-top: 10px;
	float: left;

}

ul.folder_list li a,ul.folder_list li a:visited, ul.folder_list li a:link{
	display: inline-block;
	height:21px;
	color:#444888;
	text-decoration:none;
	margin:0px;
}

ul.folder_list li a:hover{
	color:#00BB77;
	text-decoration:underline;
	margin:0px;
}

.pinned_folder{
	display: inline-block;
	background-image: url("/public/css/goldstar.png");	
	width: 21px;
	height:20px;
}
.stashed_folder{
	display: inline-block;
	background-image: url("/public/css/location.png");	
	height:21px;
	width: 15px;
}
.unpinned_folder{
	background-image: none;
	width: 15px;
	height: 21px;
}

/* ul.file_containner{
    font-size: 14px;
    width:1000px;
    clear:both;
    margin:auto
} */

/* td.file_name{
	height: 1.5 em;
	padding: 4px
}

td.file_name a, td.file_name a:link, td.file_name a:visited{
	display: block;
	width:100%;
	height:100%;
	text-decoration:none; 
	text-align:left;
	color: #444488; 
	text-decoration: none;
}
td.file_name a:hover{
	color: #00BB77; 
	text-decoration: none;
} */


/* for show_code.erb */
.code_page{
	width: 100%;
	background-color: #AAA;
}

pre.code_wrap{
	font-size:14px;
	font-family:  Menlo, Consolas, 'Courier New', Courier, monospace;	
	width:1024px;
	margin: auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #fafafa;
	padding: 1em;
}

.dialog{ 
	position:absolute; 
	display:none;  
	background-color: #f7f7f7; 
	width:400px; height:200px; border:1px solid #ccc; 
	box-shadow:4px 4px 20px 4px #666; 
	border-radius: 5px;  
}

.dialog_wide{
	position:absolute;
	display:none;  
	background-color: #f7f7f7; 
	width:80%; height:80%; border:1px solid #ccc; 
	box-shadow:4px 4px 20px 4px #666; 
	border-radius: 5px; 
}


.dialogContent{
	padding: 5px 20px 5px 20px;
}

#color_tag{
	/* background-image: url("/public/css/color-dots.png"); */
	/* background-position: 0px -62px; */
	width: 10px;
	height: 10px;
}

.color_red_dot{
	background-image: url("/public/css/color-dots.png");
	background-position: 0px -102px;
	width: 10px;
	height: 10px;
}
.color_green_dot{
	background-image: url("/public/css/color-dots.png");
	background-position: 0px -62px;
	width: 10px;
	height: 10px;
}
.color_blue_dot{
	background-image: url("/public/css/color-dots.png");
	background-position: 0px 0px;
	width: 10px;
	height: 10px;
}
.color_purple_dot{
	background-image: url("/public/css/color-dots.png");
	background-position: 0px -22px;
	width: 10px;
	height: 10px;
}

.color_orange_dot{
	background-image: url("/public/css/color-dots.png");
	background-position: 0px -42px;
	width: 10px;
	height: 10px;
}

.color_grey_dot{
	background-image: url("/public/css/color-dots.png");
	background-position: 0px -82px;
	width: 10px;
	height: 10px;
}
.color_yellow_dot{
	background-image: url("/public/css/color-dots.png");
	background-position: 0px -122px;
	width: 10px;
	height: 10px;
}
.color_default_dot{
	width: 10px;
	height: 10px;
}

.active{
	color:red
}

.file_nav{
	width: 100%;
	height: 35px;
	font-size: 30px;
}
.file_nav_left{
	width : 40%;
	float: left;
	clear:none;
}
.file_nav_right{
	width: 40px;
	float: right;
	clear:none;
}
.pinned{
	background-image: url("/public/css/goldstar.png");	
	width: 21px;
	height: 20px;
}
.unpinned{
	background-image: none;
	width: 21px;
	height: 20px;
}

.stashed{
	display:inline-block;
	background-image: url("/public/css/location.png");	
	height:21px;
	width: 15px;
}
.unstashed{
	display:none;
	background-image: url("/public/css/location.png");	
	height:21px;
	width: 15px;
}

ul.shortcut_opt_list li{
	font-size: 16px;
	line-height: 2.5em;
}

.image_list{
	display: block;
	width: 1250px;
    margin: auto;
}


.img_wrap{width:245px; margin: 25px; border: 1px solid #ccc; height: 350px; display: inline-block;overflow: hidden;}
.img_self{width:245px; height: 300px; margin: auto; overflow: hidden;}
.img_desc{width:245px; height:25px; text-align:center;margin: auto; overflow: hidden;font-size:14px; color:#777;}
.img_options{width:245px; height:25px; text-align:center;margin: auto; overflow: hidden;font-size:14px; color:#777}
.img_options a{color:#00BB77;cursor:pointer;}
.img_option a:hover{color:#bd0be0;cursor:pointer;}
.commonButton{height:30px; width:60px;}
.putButton{
	width: 80px; height: 35px;float:right
}
