
<!DOCTYPE html>
<html>
<head>
    <title>Error </title>
    <link rel="stylesheet" type="text/css" href="/public/css/filegai.css" />
    <script src="/public/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="top_bar">
    <ul class="top_bar_left">

        <li><a href='/list'>Root</a></li>
        <li><a href="/file_notes/1">Notes</a></li>
        <li><a href="/list_image/1">Images</a></li>
        <li><a href='/'>Status</a></li>
        <li><a href="javascript:Rebuild();">Rebuild</a></li>
        <li><a href="/settings">Settings</a></li>        
    </ul>
    <ul class='top_bar_right'>
        <li id="btn_workspace"> 
            <a href="#"><i class="layui-icon layui-icon-down layui-font-12"></i>workspace </a>
        </li>
        
    </ul>  
</div>
<div class="content_wrap">
    <h1> Message:{{.error_msg}}</h1>
    <p> <a href="/list/">Go to Root</a> </p>    
</div>
</body>
</html>