<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Filegai</title>
        <link rel="stylesheet" href="/public/layui/css/layui.css"  media="all">
        <link rel="stylesheet" href="/public/css/lightbox.css">
        <link rel="stylesheet" type="text/css" href="/public/css/filegai.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/editor.css" />
</head>
<body>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/jquery_ui.js"></script>
<script type="text/javascript" src="/public/js/md5.js"></script>
<script src="/public/layui/layui.js" charset="utf-8"></script>
<script src='/public/tinymce/tinymce.min.js'></script>
<script>
var Color_coden={"green":1,"red":2,"blue":3,"purple":4,"orange":5,"yellow":6,"grey":7};
function get_color_code(color){
    //color=$("#color_tag").attr("class").split("_")[1];
    if(Color_coden[color]==undefined){
        return 0;
    }else{
        return Color_coden[color];
    }
}

function get_color_by_code(c){
    for (color in Color_coden){
        if (Color_coden[color] == c){
            return color;
        }        
    }
    return "green"; // default
}

function to_json(input){
    // to deal with go gin unescape problem,annoying
    var tmp = input.replaceAll(/\\u0026/g,"&");
    tmp =tmp.replaceAll(/\'/g,"\"");
    return JSON.parse(tmp);
}


layui.use(['dropdown', 'util', 'layer'], function(){
    var dropdown = layui.dropdown,
            util = layui.util,
            layer = layui.layer,
                $ = layui.jquery;

    // for color option
    dropdown.render({
        elem: '#color_menu',
        data: [
            {  title: '<img class="color_green_dot" id="color_tag_1" src="/public/css/blank.png">',
                id: get_color_code("green")
            },{  
                title: '<img class="color_red_dot" id="color_tag_2" src="/public/css/blank.png">',
                id: get_color_code("red")
            },{
                title: '<img class="color_blue_dot" id="color_tag_3" src="/public/css/blank.png">',
                id: get_color_code("blue")
            },{
                title: '<img class="color_purple_dot" id="color_tag_4" src="/public/css/blank.png">',
                id: get_color_code("purple")
            },{
                title: '<img class="color_orange_dot" id="color_tag_5" src="/public/css/blank.png">',
                id: get_color_code("orange")
            },{
                title: '<img class="color_yellow_dot" id="color_tag_6" src="/public/css/blank.png">',
                id: get_color_code("yellow")
            },{
                title: '<img class="color_grey_dot" id="color_tag_7" src="/public/css/blank.png">',
                id: get_color_code("grey")
            }
        ],
        click: function(obj){
            color = get_color_by_code(obj.id);
            // $("#color_tag").html(obj.title);
            $("#color_tag").removeClass().addClass("color_"+color+"_dot");
            //layer.tips('点击了：'+ obj.title, this.elem, {tips: [1, '#5FB878']})
        }
    });

        //for file options
    dropdown.render({
        elem: '.file_option',
        trigger: 'mouseenter',
        delay:1500,
        data: [
            {title: '<span>Add/Edit</span>',    id: "add"},
            {title: '<span>Del</span>',    id: "del"},
            {title: '<span>Rename</span>', id: "rename"},
            {title: '<span>Pin/Unpin</span>', id: "pin"}],
        click: function(data, othis){
            if(data.id=="add"){
                AddNote($(this.elem).attr("value") );
            }else if (data.id=="del"){
                if (confirm("Your are DELETING this note, ARE YOU SURE?") ){
                    //window.location.replace("/del_note/"+$(this.elem).attr("value"));
                    DelNote($(this.elem).attr("value"));
                }
            }else if (data.id=="rename"){
                Rename($(this.elem).attr("value"));
            }else if (data.id=="pin"){
                toggle_shortcut_file($(this.elem).attr("value"));
            }

            //event.stopPropagation();
            // how to stop this event propagation ?
            // $(this.elem).click(function(event) {
            //     event.stopPropagation();
            // });            
        }
    });
    

    // for workspace
    dropdown.render({
        elem: '#btn_workspace',
        data: 
        [   
            { title: 'Folders',
                isSpreadItem: true,
            // id: 102,
                type: 'group',  //菜单类型，支持：normal/group/parent/-
            //   child: [{
            //    title: 'File1',
            //          id: 103},
            //          {title: 'File2',
            //            id: 104
            //           }] 
            child:to_json({{.workspace_folders }})
            },


            //{ title: 'menu item 2',
            //  id: 101,
            //  href: 'https://www.layui.com/',
            //  target: '_blank' },
            { type: '-'},
            { title: 'Files',
                isSpreadItem: false,
                id: 102,
                type: 'parent',
                child:to_json({{.workspace_files }})
            },
            { type: '-'},
            { 
                title: 'Manage',              
                href: '/manange_shortcut'
            }
        ]
                
    });

    $("#toggle_view").click(function(){
        if ($("#toggle_view").attr("value")=="0"){
            $('.note_visible').addClass("layui-show"); //.layui-colla-content 
            $("#toggle_view").attr("value","1");
            $("#toggle_view").text("收起");
        }else{ 
            $('.note_visible').removeClass("layui-show");
            $("#toggle_view").attr("value","0");
            $("#toggle_view").text("展开");
        }
    });
});

// utility functions
function FileNamePostfix(file_name){
    if (file_name.match(/\./)){
        _do_index = file_name.lastIndexOf(".");
        return file_name.substring(_do_index + 1); // 到最后一个字符
    }else{
        return file_name;
    }
}

function FileNamePrefix(file_name){
    if (file_name.match(/\./)){
        _do_index = file_name.lastIndexOf(".");
        return file_name.substring(0, _do_index); // 到最后一个字符
    }else{
        return "";
    }
}

// for dialog showing
function show_dialog(id,wide){
    $(id).css("position","fixed");
    if(wide){
        $(id).css({'top':window.innerHeight/10,'left':window.innerWidth/10});
    }else{
        $(id).css({'top':window.innerHeight/3,'left':window.innerWidth/2-200});
    }    
    $(id).css("background-color",'white');
    $(id).draggable();
    $(id+' .buttonCancel').click(function(){
        $(id).hide(100);
    });
    $(id+' .close2').click(function(){
        $(id).hide(100);
    });
}

function AddNote(ino_id){
    // display the dialog box
    show_dialog("#add_note_dialog",true);
    $(".tox-tinymce").height($("#add_note_dialog").height()-100);
    if ($('#dialog_ino_id').val()!=ino_id){
        $('#dialog_ino_id').val(ino_id);
        //$('#note_content').append($.trim($("#item_"+ino_id).html()) );
        if ($.trim($("#item_"+ino_id).html() !="")){
            tinyMCE.get('note_content').setContent($.trim($("#item_"+ino_id).html() ));
            $("#dialog_md5_digest").val(hex_md5(tinyMCE.get('note_content').getContent()));
        }else{
            tinyMCE.get('note_content').setContent("");
        }
    } 
    
    // set dialog title
    $("#dialog_title").html($.trim($("#filename_"+ino_id).html()) )
    $("#add_note_dialog").show(100);  
    
    //define the submit button actions  
    $('#submit_add').unbind("click").click(function(){  
        PostNote();
        $("#add_note_dialog").hide(100);
        event.preventDefault();	//阻滞二次提交
    });

    $('#save').unbind("click").click(function(){  
        if (PostNote() ){
            alert("done");
        }else{
            alert("not saved!");
        }
        event.preventDefault();	//阻滞二次提交
    });

    
}

function PostNote(){
    color_code = get_color_code($("#color_tag").attr("class").split("_")[1]);
    ino_id= $('#dialog_ino_id').attr("value");
    item_value =$("#item_"+ino_id).attr("value");
    var act="";
    var act_target="";

    if(item_value ==""){
        //add note
        act ="add_note";
        act_target = ino_id;
    }else{
        //edit note
        act ="edit_note";
        act_target = item_value;
    }
    var md5_digest_new=hex_md5(tinyMCE.get('note_content').getContent());
    var md5_digest_old=$("#dialog_md5_digest").val();
    if (md5_digest_new==md5_digest_old){
        // alert("nothing changed since last save!");
    }else{
        $.post("/"+act+"/"+act_target,{'ino_id' : ino_id,'tag': item_value, 'note':tinyMCE.get('note_content').getContent(),'color': color_code},function(data,status){
            if(status=="success" && data.match(/^\!\!(\w+)/)){
                $("#item_"+ino_id).html(tinyMCE.get('note_content').getContent());
                $("#item_"+ino_id).parent().addClass("note_visible");
                $("#item_"+ino_id).attr("value",data.substr(2));
                img_str='<img class="color_'+ get_color_by_code(color_code)+'_dot" src="/public/css/blank.png">'
                $("#item_color_"+ino_id).html(img_str);
                $("#dialog_md5_digest").val(md5_digest_new);
                //tinyMCE.activeEditor.setContent('');
            }else{
                alert("Add Note note failed"+data.substr(2));  
                return false                          
            }
        });
    }
    return true;
}

function Rename(ino_id){
    show_dialog("#rename_dialog",false);
    var old_name  =$.trim($("#filename_"+ino_id).html());
    if ($('#dialog_rename_ino_id').val()!=ino_id){        
        $('#new_name').val(FileNamePrefix(old_name) );
        $('#new_name_ext').val(FileNamePostfix(old_name) );
        $('#dialog_rename_ino_id').val(ino_id);
    }
    // $("#dialog_rename_title").html("Change the old name" );
    $("#rename_dialog").show(100);    
    $('#submit_rename').unbind("click").click(function(){       
        $.post("/rename/"+ino_id,{
                'ino_id' : ino_id, 'new_name':$('#new_name').val(),
                    'new_name_ext':$('#new_name_ext').val()},function(data,status){
            if(status=="success" && data.match(/^\!\!/)){
                //console.log(data);
                tt=data.split(/:/);
                //console.log(tt);
                new_name=tt[tt.length-1];
                //$('#new_name').val()+"."+$('#new_name_ext').val()
                $("#filename_"+ino_id).html(new_name);  
            }else{
                //
                //console.log(data);
                alert("Note modified"+data.substr(2));                
            }
        });	
        event.preventDefault();	//阻滞二次提交
        $("#rename_dialog").hide(100);
    });
}


function DelNote(id){
    $.get("/del_note/"+id,function(data,status){
        if(status=="success" && data.match(/^\!\!(\w+)/)   ){
            matched_data=data.match(/^\!\!(\w+)/);
            id=matched_data[1];
            $("#item_color_"+id+" img").attr("class","color_default_dot");
            $("#item_"+id).html("");
        }else{
            alert("failed:"+data);
        }
    });
}

function Rebuild(){
    if( confirm("Are you sure to rebuild the ino tree?") ){
        $.get("/rebuild/",function(data,status){
            if(status=="success" && data.match(/^\!\!(\w+)/)){
                alert("Done!");
            }else{
                alert("Failed! error message"+data.substr(2));
            }
        });
    }
}

// for tinymce
tinymce.init({
    selector: '#note_content',
    language:'zh_CN',
    plugins: 'importcss print preview searchreplace autolink directionality visualblocks visualchars fullscreen image link  template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern paste emoticons autosave ',
    toolbar: 'code undo redo | formatselect styleselect forecolor backcolor image  bold italic underlineremoveformat |\
    blockquote subscript superscript  | alignleft aligncenter alignright  lineheight | \
    strikethrough link  fontselect fontsizeselect bullist numlist | \
    table  charmap hr pagebreak insertdatetime | fullscreen ',
    fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
    autosave_ask_before_unload: true,
    //icons:'ax-color',
    height:350,
    content_css: "/public/css/editor.css",
    images_upload_url: '/image_upload'

    // images_upload_handler: function (blobInfo, success, failure, progress) {
    //     var xhr, formData;
    //     xhr = new XMLHttpRequest();
    //     xhr.withCredentials = false;
    //     xhr.open('POST', '/image_upload');

    //     xhr.upload.onprogress = function(e){
    //         progress(e.loaded / e.total * 100);
    //     }

    //     xhr.onload = function() {
    //         var json;
    //         if (xhr.status == 403) {
    //             failure('HTTP Error: ' + xhr.status, { remove: true });
    //             return;
    //         }
    //         if (xhr.status < 200 || xhr.status >= 300 ) {
    //             failure('HTTP Error: ' + xhr.status);
    //             return;
    //         }
    //         json = JSON.parse(xhr.responseText);
    //         if (!json || typeof json.location != 'string') {
    //             failure('Invalid JSON: ' + xhr.responseText);
    //             return;
    //         }
    //         success(json.location);
    //     };

    //     xhr.onerror = function () {
    //         failure('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
    //     }

    //     formData = new FormData();
    //     formData.append('file', blobInfo.blob(), blobInfo.filename());
    
    //     xhr.send(formData);

    // }

    
});
    
// for shortcut making
function toggle_shortcut(id,is_add){
    $("#shortcut_status").attr("value","0"); // reset
    var target_url="";
    if (is_add){
        target_url="/add_shortcut/"+id;
    }else{
        target_url="/del_shortcut/"+id;
    }
    $.get(target_url,{},function(data,status){
        if(status=="success" && data.match(/^\!\!/)){
            $("#shortcut_status").attr("value","1");
            // alert("done");
            
        }else{
            $("#shortcut_status").attr("value","0");
            //alert("shortcut not added:"+data);         
        }
    });    
}

function toggle_shortcut_file(id){
    var is_add;
    if ($("#pin_"+id).attr("value")=="true"){
        is_add=true;
    }else{
        is_add=false;
    }

    toggle_shortcut(id,is_add);
    setTimeout(function(){
        if ($("#shortcut_status").attr("value")=='1'){    
            if (is_add){
                // add the pin logo
                $("#pin_"+id).removeClass("unpinned");
                $("#pin_"+id).addClass("pinned");
                $("#pin_"+id).attr("value","false");
            }else{
                // remove the pin logo
                $("#pin_"+id).removeClass("pinned");
                $("#pin_"+id).addClass("unpinned");
                $("#pin_"+id).attr("value","true");
            }
        }
    },100);

}

function toggle_shortcut_folder(id){
    var is_add;
    if ($("#add_shortcut").attr("value")=="true"){
        is_add=true;
    }else{
        is_add=false;
    }
    toggle_shortcut(id,is_add);
    setTimeout(function(){
        if ($("#shortcut_status").attr("value")=='1'){    
            if (is_add){
                // add the pin logo
                $("#shortcut_icon_"+id).removeClass("layui-icon-rate");
                $("#shortcut_icon_"+id).addClass("layui-icon-rate-solid");
                $("#add_shortcut").attr("value","false");
            }else{
                // remove the pin logo
                $("#shortcut_icon_"+id).removeClass("layui-icon-rate-solid");
                $("#shortcut_icon_"+id).addClass("layui-icon-rate");
                $("#add_shortcut").attr("value","true");
            }
        }
    },100);
}
</script>    
<div class="top_bar">
    <ul class="top_bar_left">

        <li><a href='/list'>Root</a></li>
        <li><a href="/file_notes/1">Notes</a></li>
        <li><a href="/list_image/1">Images</a></li>
        <li><a href='/'>Status</a></li>
        <li><a href="javascript:Rebuild();">Rebuild</a></li>
        <li><a href="/settings">Settings</a></li>

		
    </ul>
    <ul class='top_bar_right'>
        <li id="btn_workspace"> 
            <a href="#"><i class="layui-icon layui-icon-down layui-font-12"></i>workspace </a>
        </li>
        <li><a href="/gallery">Gallery</a></li>    
       
    </ul>  
</div>

<div class="content_wrap">
    <h1><a href ="/nav/{{.dev_ino}}">{{.url}}</a></h1>
    <div class="file_nav">
        <div class="file_nav_left">
            <a href="/list/{{.parent_dev_ino}}">
            <i class="layui-icon layui-icon-up" style="font-size:30px"></i>up
            </a>
        </div>
  
        <div class="file_nav_right" id ="add_shortcut" value="{{.shortcut_value}}">         
            <a href='javascript:toggle_shortcut_folder("{{.dev_ino}}")'> 
            <i class="layui-icon {{.shortcut_icon}}" style="font-size:30px" id="shortcut_icon_{{.dev_ino}}"></i>  
            </a>            
        </div>
    </div>
    <div class="folder_containner">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>Folders</legend>
        </fieldset>
        <ul class="folder_list">
        {{ range .folder_nodes}}
        <li><a href="/list/{{ .Dev}}_{{.Ino}}">{{ .Name}} </a></li>
        {{ end}}
        </ul>
    </div>

    <hr>
    <div class="file_containner">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>Files</legend>
        </fieldset>
        <button type="button" class="layui-btn layui-btn-primary" id="toggle_view" value="0">展开</button>
            
        <div class="layui-collapse" lay-filter="test">
            {{range .file_nodes}}
            <div class="layui-colla-item">
                <h2 class="layui-colla-title" >                               
                    <span id="item_color_{{.Dev}}_{{.Ino}}" ><img class="color_{{ .Color  }}_dot" src="/public/css/blank.png" ></span>
                    <a href="/show/{{.Dev}}_{{.Ino}}" id="filename_{{.Dev}}_{{.Ino}}" class="{{.Active_css_class}}" >{{.Name}}</a>
                    <div class="layui-btn-container" style="float:right;" style="margin:0px;padding:0px;" >
                    <button class="layui-btn layui-btn-primary file_option"  style="width:26px; margin:0px;padding:0px;text-align:center;" value="{{.Dev}}_{{.Ino}}">
                        <i class="layui-icon layui-icon-more" style="font-size: 20px;"  ></i>
                    </button>  
                    </div>
                    <span style="float:right;margin-right:4px"></span>            
                    <span style="float:right;margin-right:4px" class="{{.Pin_class}}" value = "{{.Pin_value}}" id="pin_{{.Dev}}_{{.Ino}}" ><img src="/public/css/blank.png" /></span>            
                </h2>
                <div class="layui-colla-content {{.Note_visible}}">         
                    <div id="item_{{.Dev}}_{{.Ino}}" value='{{.Tag}}'>
                        {{.Note | unescapeHtmlTag }}
                    </div>
                </div>
            </div>
            {{end}}
        </div>   
    </div>
</div>

<!--Dialog-->
<div id="add_note_dialog" class="dialog_wide">    
	<div style="text-align:right; background-color:#CCC;">
       <span class="close2"><img src="/public/css/close.gif" width="48" height="20" alt="X" /></span>
    </div>
	<div class="dialogContent">
        <form action="" method="POST"	enctype="multipart/form-data" name="form_add"  id='form_form'>
		<!--h2 align="center" id="dialog_title">Add Note</h2-->
        <input type="hidden" name="ino_id" id="dialog_ino_id">
        <input type="hidden" id="dialog_md5_digest" value="">
        
        <textarea id="note_content" name="note"></textarea>
        <p>Define Color:
            <span class="layui-btn-container" >
            <button class="layui-btn layui-btn-primary" style="width:50px; padding:0px;border:0px" id="color_menu">
                <img class="color_green_dot" id="color_tag" src="/public/css/blank.png">
                <i class="layui-icon layui-icon-down layui-font-12"></i>
            </button>
            </span>
            <input type="button" class="commonButton buttonCancel" value="Cancel" > &nbsp; &nbsp;&nbsp; &nbsp;
            <input type="button" class="commonButton" value="Save" id="save" > &nbsp; &nbsp;&nbsp; &nbsp;
            <input type="submit" class="commonButton" value="Done" id="submit_add">
        </p>  
 		</form>
	</div>
</div>


<div id="rename_dialog" class="dialog">    
	<div style="text-align:right; background-color:#CCC;">
       <span class="close2"><img src="/public/css/close.gif" width="48" height="20" alt="X" /></span>
    </div>
	<div class="dialogContent">
        <p>&nbsp;</p>
		<h3 align="center" id="dialog_rename_title"><strong>Change the file name</strong> </h3>
        <p>&nbsp;</p>
		<form action="" method="POST"	enctype="multipart/form-data" name="form_rename"  id='form_rename'>
        <p align="center"> <input type="text" name="new_name" id="new_name" style="width:280px;font-size:1.2em" /></p>
        <p>&nbsp;</p><p>&nbsp;</p>
        <p align="center"> 
            <input type="button" class="commonButton buttonCancel" value="Cancel" > &nbsp; &nbsp;&nbsp; &nbsp;
            <input type="submit" class="commonButton" value="OK" id="submit_rename">
            <input type="hidden" name="ino_id" id="dialog_rename_ino_id">
            <input type="hidden" name="new_name_ext" id="new_name_ext">
        </p> 
		</form>
	</div>
</div>
<div style="display:none" id="shortcut_status">
</div>
 
</body>
</html>