<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Filegai</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="/public/css/lightbox.css">
    <link rel="stylesheet" type="text/css" href="/public/css/filegai.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/editor.css" />
    <style>
    #dev_ino_options {width:715px;border-top: 2px solid #ccc; line-height: 1.5em;}
    </style>
</head>
<body>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/jquery_ui.js"></script>
<script src="/public//layui/layui.js" charset="utf-8"></script>
<script src='/public//tinymce/tinymce.min.js'></script>

<script>
layui.use(['laypage', 'layer'], function(){ 
});

var Color_coden={"green":1,"red":2,"blue":3,"purple":4,"orange":5,"yellow":6,"grey":7};
function get_color_code(color){
    //color=$("#color_tag").attr("class").split("_")[1];
    if(Color_coden[color]==undefined){
        return 0;
    }else{
        return Color_coden[color];
    }
}

function get_color_by_code(c){
    for (color in Color_coden){
        if (Color_coden[color] == c){
            return color;
        }        
    }
    return "green"; // default
}


layui.use(['dropdown', 'util', 'layer','laypage'], function(){
    var dropdown = layui.dropdown,
            util = layui.util,
           layer = layui.layer,
               $ = layui.jquery,
         laypage = layui.laypage;


    // for color option
    dropdown.render({
        elem: '#color_menu',
        data: [
            {  title: '<img class="color_green_dot" id="color_tag_1" src="/public/css/blank.png">',
               id: get_color_code("green")
            },{  
               title: '<img class="color_red_dot" id="color_tag_2" src="/public/css/blank.png">',
               id: get_color_code("red")
            },{
                title: '<img class="color_blue_dot" id="color_tag_3" src="/public/css/blank.png">',
                id: get_color_code("blue")
            },{
                title: '<img class="color_purple_dot" id="color_tag_4" src="/public/css/blank.png">',
                id: get_color_code("purple")
            },{
                title: '<img class="color_orange_dot" id="color_tag_5" src="/public/css/blank.png">',
                id: get_color_code("orange")
            },{
                title: '<img class="color_yellow_dot" id="color_tag_6" src="/public/css/blank.png">',
                id: get_color_code("yellow")
            },{
                title: '<img class="color_grey_dot" id="color_tag_7" src="/public/css/blank.png">',
                id: get_color_code("grey")
            }
        ],
        click: function(obj){
            color = get_color_by_code(obj.id);
            // $("#color_tag").html(obj.title);
            $("#color_tag").removeClass().addClass("color_"+color+"_dot");
            //layer.tips('点击了：'+ obj.title, this.elem, {tips: [1, '#5FB878']})
        }
    });

    //for file options
    dropdown.render({
        elem: '.file_option',
        trigger: 'mouseenter',
        delay:1500,
        data: [
            {title: '<span>Retrace</span>',    id: "retrace"},
            {title: '<span>Del</span>',    id: "del"},
            {title: '<span>Pin/Unpin</span>', id: "pin"}],
        click: function(data, othis){
            if(data.id=="add"){
                AddNote($(this.elem).attr("value") );
            }else if (data.id=="del"){
                if (confirm("Your are DELETING this note, ARE YOU SURE?") ){
                    //window.location.replace("/del_note/"+$(this.elem).attr("value"));
                    DelNote($(this.elem).attr("value"));
                }
            }else if (data.id=="retrace"){
                Show_retrace_dialog($(this.elem).attr("value"));
            }else if (data.id=="pin"){
                toggle_shortcut_file($(this.elem).attr("value"));
            }           
        }
    });
    
    $("#toggle_view").click(function(){
        if ($("#toggle_view").attr("value")=="0"){
            $('.note_visible').addClass("layui-show"); //.layui-colla-content 
            $("#toggle_view").attr("value","1");
            $("#toggle_view").text("收起");
        }else{ 
            $('.note_visible').removeClass("layui-show");
            $("#toggle_view").attr("value","0");
            $("#toggle_view").text("展开");
        }
    });
});

// utility functions
function FileNamePostfix(file_name){
    if (file_name.match(/\./)){
        _do_index = file_name.lastIndexOf(".");
        return file_name.substring(_do_index + 1); // 到最后一个字符
    }else{
        return file_name;
    }
}

function FileNamePrefix(file_name){
    if (file_name.match(/\./)){
        _do_index = file_name.lastIndexOf(".");
        return file_name.substring(0, _do_index); // 到最后一个字符
    }else{
        return "";
    }
}

// for dialog showing
function show_dialog(id,wide){
    $(id).css("position","fixed");
    if(wide){
        $(id).css({'top':window.innerHeight/10,'left':window.innerWidth/10});
    }else{
        $(id).css({'top':window.innerHeight/3,'left':window.innerWidth/2-200});
    }    
    $(id).css("background-color",'white');
    $(id).draggable();
    $(id+' .buttonCancel').click(function(){
        $(id).hide(100);
    });
    $(id+' .close2').click(function(){
        $(id).hide(100);
    });
}

function AddNote(ino_id){
    // display the dialog box
    show_dialog("#add_note_dialog",true);
    $(".tox-tinymce").height($("#add_note_dialog").height()-100);
    if ($('#dialog_ino_id').val()!=ino_id){
        $('#dialog_ino_id').val(ino_id);
        //$('#note_content').append($.trim($("#item_"+ino_id).html()) );
        if ($.trim($("#item_"+ino_id).html() !="")){
            tinyMCE.get('note_content').setContent($.trim($("#item_"+ino_id).html() ));
        }else{
            tinyMCE.get('note_content').setContent("");
        }
    }      
    
    // set dialog title
    $("#dialog_title").html($.trim($("#filename_"+ino_id).html()) )
    $("#add_note_dialog").show(100);  
    
    //define the submit button actions  
    $('#submit_add').unbind("click").click(function(){
        color_code = get_color_code($("#color_tag").attr("class").split("_")[1]);
        ino_id= $('#dialog_ino_id').attr("value");
        item_value =$("#item_"+ino_id).attr("value");
        var act="";
        var act_target="";
    
        if(item_value ==""){
            //add note
            act ="add_note";
            act_target = ino_id;
        }else{
            //edit note
            act ="edit_note";
            act_target = item_value;
        }

        $.post("/"+act+"/"+act_target,{'ino_id' : ino_id,'tag': item_value, 'note':tinyMCE.get('note_content').getContent(),'color': color_code},function(data,status){
            if(status=="success" && data.match(/^\!\!(\w+)/)){
                $("#item_"+ino_id).html(tinyMCE.get('note_content').getContent());
                $("#item_"+ino_id).parent().addClass("note_visible");
                $("#item_"+ino_id).attr("value",data.substr(2));
                img_str='<img class="color_'+ get_color_by_code(color_code)+'_dot" src="/public/css/blank.png">'
                $("#item_color_"+ino_id).html(img_str);
                //tinyMCE.activeEditor.setContent('');
            }else{
                alert("Add Note note done:"+data.substr(2));                
            }
        });	
        
        $("#add_note_dialog").hide(100);
        event.preventDefault();	//阻滞二次提交

    });
    
}

function DelNote(id){
    $.get("/del_note/"+id,function(data,status){
        if(status=="success" && data.match(/^\!\!(\w+)/)   ){
            matched_data=data.match(/^\!\!(\w+)/);
            id=matched_data[1];
            $("#item_color_"+id+" img").attr("class","color_default_dot");
            $("#item_"+id).html("");
        }else{
            alert("failed:"+data);
        }
    });
}


function SearchNote(){
    show_dialog("#search_dialog",false);
    $("#search_dialog").show(100);
}

function Show_retrace_dialog(id){
    show_dialog("#retrace_dialog",true);
    $("#retrace_dialog").show(100);
    $("#note_tag").val(id);
    $("#retrace_btn").unbind("click").bind("click",function(){
        Retrace($("#retrace_tag").val());
        event.preventDefault();	//阻滞二次提交
    });
}

function Retrace(id){
    $("#dev_ino_options").html("");
    $.post("/retrace_note", {"file_name":$("#retrace_target").val() },function(data,status){
        if(status=="success" && data.match(/^\!\!/)   ){
            options_values=data.substr(2);
            $("#dev_ino_options").append(options_values);
            $("#assign_btn").unbind("click").bind("click",function(){
                Assign_note($("#note_tag").val(),$("input[name='dev_ino']:checked").val());
            });
        }else{
            alert("not found"+data.substr(2));
        }
    });
}

function Assign_note(note_tag,dev_ino){
    $.post("/assign_note",{"note_tag": note_tag,"dev_ino":dev_ino},function(data,status){
        $("#retrace_dialog").hide(100);
        if(status=="success" && data.match(/^\!\!/) ){
            alert("done");
            $("#"+note_tag).remove();
        }else{
            alert("failed:"+data.substr(2));
        }
    })
   
}

// for tinymce
tinymce.init({
    selector: '#note_content',
    language:'zh_CN',
    plugins: 'importcss print preview searchreplace autolink directionality visualblocks visualchars fullscreen image link  template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern paste emoticons autosave ',
    toolbar: 'code undo redo | formatselect styleselect forecolor backcolor image  bold italic underlineremoveformat |\
    blockquote subscript superscript  | alignleft aligncenter alignright  lineheight | \
    strikethrough link  fontselect fontsizeselect bullist numlist | \
    table  charmap hr pagebreak insertdatetime | fullscreen ',
    fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
    autosave_ask_before_unload: true,
    //icons:'ax-color',
    height:350,
    content_css: "/public/css/editor.css",
    images_upload_url: '/image_upload'    
});
   
// for shortcut making
function toggle_shortcut(id,is_add){
    $("#shortcut_status").attr("value","0"); // reset
    var target_url="";
    if (is_add){
        target_url="/add_shortcut/"+id;
    }else{
        target_url="/del_shortcut/"+id;
    }
    $.get(target_url,{},function(data,status){
        if(status=="success" && data.match(/^\!\!/)){
            $("#shortcut_status").attr("value","1");
            // alert("done");
           
        }else{
            $("#shortcut_status").attr("value","0");
            //alert("shortcut not added:"+data);         
        }
    });    
}

function toggle_shortcut_file(id){
    var is_add;
    if ($("#pin_"+id).attr("value")=="true"){
        is_add=true;
    }else{
        is_add=false;
    }

    toggle_shortcut(id,is_add);
    setTimeout(function(){
        if ($("#shortcut_status").attr("value")=='1'){    
            if (is_add){
                // add the pin logo
                $("#pin_"+id).removeClass("unpinned");
                $("#pin_"+id).addClass("pinned");
                $("#pin_"+id).attr("value","false");
            }else{
                // remove the pin logo
                $("#pin_"+id).removeClass("pinned");
                $("#pin_"+id).addClass("unpinned");
                $("#pin_"+id).attr("value","true");
            }
        }
    },100);

}

function toggle_shortcut_folder(id){
    var is_add;
    if ($("#add_shortcut").attr("value")=="true"){
        is_add=true;
    }else{
        is_add=false;
    }
    toggle_shortcut(id,is_add);
    setTimeout(function(){
        if ($("#shortcut_status").attr("value")=='1'){    
            if (is_add){
                // add the pin logo
                $("#shortcut_icon_"+id).removeClass("layui-icon-rate");
                $("#shortcut_icon_"+id).addClass("layui-icon-rate-solid");
                $("#add_shortcut").attr("value","false");
            }else{
                // remove the pin logo
                $("#shortcut_icon_"+id).removeClass("layui-icon-rate-solid");
                $("#shortcut_icon_"+id).addClass("layui-icon-rate");
                $("#add_shortcut").attr("value","true");
            }
        }
    },100);
}

</script>


<div class="top_bar">
    <ul class="top_bar_left">
        <li><a href='/list'>Files</a></li>
        <li><a href="/articles/1">Articles</a></li>
        <li><a href="/file_notes/1" class="active">Notes</a></li>
        <li><a href="/list_image/1">Images</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href='/'>Status</a></li> 	
    </ul>
    <ul class='top_bar_right'>
        <li><a href="/orphan_notes">Orphans</a></li>
        <li><a href="javascript:SearchNote();">Search</a></li>        
    </ul> 
</div>

<div class="{{.wrap_class}}">
    <h1>
       Orphan File Notes
    </h1>
    <div class='layui-box layui-laypage'>
        {{.page_bar | unescapeHtmlTag }}
        </div>
    <hr>
    <div class="file_containner">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>Files</legend>
        </fieldset>
     
        <button type="button" class="layui-btn layui-btn-primary" id="toggle_view" value="0">展开</button>
        {{range .notes}}
        <div class="layui-collapse" lay-filter="test" id="{{.Tag}}">
            
            <div class="layui-colla-item">
                <h2 class="layui-colla-title" > 
                          
                <span id="item_color_{{.Tag}}" ><img class="color_{{.Color_str}}_dot" src="/public/css/blank.png" ></span>
                <a href="/show/{{.Tag}}" id="filename_{{.Tag}}" >{{.File_name}}</a>
                <div class="layui-btn-container" style="float:right;" style="margin:0px;padding:0px;" >
                <button class="layui-btn layui-btn-primary file_option"  style="width:26px; margin:0px;padding:0px;text-align:center;" value="{{.Tag}}">
                    <i class="layui-icon layui-icon-more" style="font-size: 20px;"  ></i>
                </button>                
                </div>              
                </h2>
                <div class="layui-colla-content note_visible">
                    <div id="item_{{.Tag}}" value="{{.Tag}}" class="content_view">        
                    {{.Note | unescapeHtmlTag}}
                    </div>
                </div>
            </div>

        </div>
        {{end}}
    </div>
    <hr />
   
</div>

<!--Dialog-->
<div id="add_note_dialog" class="dialog_wide">    
	<div style="text-align:right; background-color:#CCC;">
       <span class="close2"><img src="/public/css/close.gif" width="48" height="20" alt="X" /></span>
    </div>
	<div class="dialogContent">
        <form action="" method="POST"	enctype="multipart/form-data" name="form_add"  id='form_form'>
		<!--h2 align="center" id="dialog_title">Add Note</h2-->
        <input type="hidden" name="ino_id" id="dialog_ino_id">
        <textarea id="note_content" name="note"></textarea>
        <p>Define Color:
            <!-- <span >&nbsp;&nbsp;&nbsp;&nbsp;<img class="color_yellow_dot" id="color_tag" src="/css/blank.png"></span>  -->
            <span class="layui-btn-container" >
            <button class="layui-btn layui-btn-primary" style="width:50px; padding:0px;border:0px" id="color_menu">
                <img class="color_green_dot" id="color_tag" src="/public/css/blank.png">
                <i class="layui-icon layui-icon-down layui-font-12"></i>
            </button>
            </span>
            <input type="button" class="commonButton buttonCancel" value="Cancel" > &nbsp; &nbsp;&nbsp; &nbsp;
            <input type="submit" class="commonButton" value="Submit" id="submit_add">
        </p>  
 		</form>
	</div>
</div>

<!--Search Dialog-->
<div id="search_dialog" class="dialog">    
	<div style="text-align:right; background-color:#CCC;">
       <span class="close2"><img src="/public/css/close.gif" width="48" height="20" alt="X" /></span>
    </div>
	<div class="dialogContent">
        <p>&nbsp;</p>
		<h3 align="center" id="dialog_search_title">Please fill in the keywords to search </h3>
		<form action="/search_note" method="POST"	enctype="multipart/form-data" name="form_search"  id='form_search'>
        <p>&nbsp;</p>
        <p align="center"> <input type="text" name="target" id="search_target" style="width:280px;font-size:1.2em" /></p>	
        <p>&nbsp;</p>
        <p align="center"> 
            <input type="button" class="commonButton buttonCancel" value="Cancel" > &nbsp; &nbsp;&nbsp; &nbsp;
            <input type="submit" class="commonButton" value="Search" id="submit_search">
        </p> 
		</form>
	</div>
</div>



<!--retrace Dialog-->
<!--for orphans-->
<div id="retrace_dialog" class="dialog_wide">    
	<div style="text-align:right; background-color:#CCC;">
       <span class="close2"><img src="/public/css/close.gif" width="48" height="20" alt="X" /></span>
    </div>
	<div class="dialogContent">
        <p>&nbsp;</p>
		<h3 align="center" id="dialog_search_title">File name keyword </h3>
		<form method="POST"	enctype="multipart/form-data" name="form_retrace"  id='form_retrace'>
        <p>&nbsp;</p>
        <div style="width: 720px;margin:auto">
            <input type="text" name="target" id="retrace_target" style="width:600px;  height: 30px;"  />
            <input type="button" class="commonButton" value="Search" id="retrace_btn" style="width:100px;">
        </div>	
        <br/>
        <div style="width: 720px;margin:auto">
            <p>Found Files:</p>
            <div id="dev_ino_options" >            
            </div>
            <input type="hidden" name="note_tag" value="" id="note_tag">
        </div>
        <br/><br/>
        <p align="center"> 
            <input type="button" class="commonButton buttonCancel" value="Cancel" > &nbsp; &nbsp;&nbsp; &nbsp;
            <input type="button" class="commonButton" value="Assign" id="assign_btn">
        </p> 
		</form>
	</div>
</div>


<div style="display:none" id="shortcut_status">
</div>
</body>
</html>