<!DOCTYPE html>
<html>
<head>
    <title>Filegai</title>
    <link rel="stylesheet" href="/public/layui/css/layui.css"  media="all">
    <link rel="stylesheet" type="text/css" href="/public/css/filegai.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/editor.css" />
    <link rel="shortcut icon " type="images/x-icon" href="/favicon.ico">
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <script src="/public/layui/layui.js" charset="utf-8"></script>
    <title>Filegai Status</title>
</head>
<body>
<script>
function Rebuild(){
    if( confirm("Are you sure to rebuild the ino tree?") ){
        $.get("/rebuild",function(data,status){
            if(status=="success" && data.match(/^\!\!(\w+)/)){
                alert("Done!");
            }else{
                alert("Failed! error message"+data.substr(2));
            }
        });
    }
}
</script>

    
<div class="top_bar">
    <ul class="top_bar_left">
        <li><a href='/list'>Files</a></li>
        <li><a href="/articles/1">Articles</a></li>
        <li><a href="/file_notes/1">Notes</a></li>
        <li><a href="/list_image/1">Images</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href='/' class="active">Status</a></li>      
    </ul>
    <ul class='top_bar_right'>
        <li><a href="javascript:Rebuild();">Rebuild</a></li>    
    </ul>  
</div>
<div class="content_wrap">
<pre>
root_dir:{{.root_dir}}
db_folder:{{.db_folder}}
db_file:{{.db_file}}

the root dir properties:
{{with .this_fnode}}
Name:{{.Name}}
Dev:{{.Dev}}
Ino:{{.Ino}}
Prarent_dev:{{.Parent_dev}}
Prarent_ino:{{.Parent_ino}}
{{end}}        
</pre>
    <h2> <a href="/list/{{.dev_ino}}">Enter <i class="layui-icon layui-icon-next"></i><i class="layui-icon layui-icon-next"></i></a> </h2>  
</div>
</body>
</html>